<a href="https://colab.research.google.com/github/abdullahyasser0/Machine-learning-course/blob/main/logistic%20regression%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing

In [ ]:
!pip install --quiet kaggle
!pip3 install --quiet neptune-client==1.2.0
!pip install --quiet opendatasets

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 448.2/448.2 kB 4.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.3/207.3 kB 8.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 3.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 37.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.2/82.2 kB 8.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.9/63.9 kB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.9/137.9 kB 8.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 4.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 3.8 MB/s eta 0:00:00
  Building wheel for bravado-core (setup.py) ... done

In [ ]:
import opendatasets as od
import json
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

In [ ]:
with open('kaggle.json', 'w') as f:
        json.dump({"username":"name","key":"key"}, f)

# Reading

In [ ]:
od.download('https://www.kaggle.com/datasets/nareshbhat/health-care-data-set-on-heart-attack-possibility/data?select=heart.csv&authuser=0')

Dataset URL: https://www.kaggle.com/datasets/nareshbhat/health-care-data-set-on-heart-attack-possibility
Downloading health-care-data-set-on-heart-attack-possibility.zip to ./health-care-data-set-on-heart-attack-possibility

100%|██████████| 3.40k/3.40k [00:00<00:00, 5.25MB/s]

In [ ]:
df = pd.read_csv('/content/health-care-data-set-on-heart-attack-possibility/heart.csv')

In [ ]:
df.insert(13,"bias",1)

In [ ]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,bias,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,1,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,1,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,1,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,1,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,1,0

# Data cleaning

In [ ]:
x=df.iloc[:, :-1].values
y= df.iloc[:, -1].values

In [ ]:
x_train, x_test, y_train, y_test = train_test_split( x , y , test_size=0.2, random_state=42)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.fit_transform(x_test)

In [ ]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
bias        0
target      0
dtype: int64

In [ ]:
print("Before droping duplicates: ", df.duplicated().sum())
df = df.drop_duplicates()
print("After droping duplicates: ", df.duplicated().sum())

Before droping duplicates:  1
After droping duplicates:  0

In [ ]:
def Model_Evaluation(y_test,y_predicted):
    accuracy = accuracy_score(y_test, y_predicted)
    precision = precision_score(y_test, y_predicted, average='macro')
    recall = recall_score(y_test, y_predicted, average='macro')
    f1_score_val = f1_score(y_test, y_predicted, average='macro')
    print("Accuracy:", accuracy)
    print("Precision:", precision)
    print("Recall:", recall)
    print("F1 Score:", f1_score_val)

#Logestic regression

In [ ]:
w = [np.random.randint(0,10) for _ in range(len(X_train[0]))]

In [ ]:
def logPredict(x,w):
  return 1/( 1 + np.exp(- (np.dot(w , x))))

In [ ]:
for xtrain,ytrain in zip(X_train,y_train):
  w-=0.1*xtrain*(logPredict(xtrain,w)-ytrain)

In [ ]:
y_predict=[round(logPredict(xtest,w)) for xtest in X_test]

In [ ]:
(((y_predict==y_test).sum())/len(y_test))*100

81.9672131147541

In [ ]:
Model_Evaluation(y_test,y_predict)

Accuracy: 0.819672131147541
Precision: 0.8193548387096774
Recall: 0.8200431034482758
F1 Score: 0.8194780737153617